@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #0f0f0f;
}

.fade {
  animation: .4s fadeIn cubic-bezier(0.175, 0.885, 0.32, 1);
}

.fadeLeft {
  animation: .4s fadeLeft cubic-bezier(0.175, 0.885, 0.32, 1)
}

@keyframes fadeIn {
  from {
    opacity: 0;
    top: -100%;
  }

  to {
    top: 5;
    opacity: 1;
  }
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    left: -100%;
  }

  to {
    left: 5;
    opacity: 1;
  }
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */